$cent-percent: 100%;

%border-color {
  border-bottom: 1px solid #808080;
}

%cursor {
  cursor: pointer;
}

%display-none {
  display: none;
}

%overflow {
  overflow-y: auto;
  overflow-x: hidden;
}

@mixin margin-right($radius) {
  margin-right: $radius * 5;
}

@mixin margin-left($radius) {
  margin-left: $radius * 5;
}

@mixin padding($radius) {
  padding-top: $radius * 5;
  padding-left: $radius * 5;
  padding-right: $radius * 5;
}