button, .modal-content, select, .input {
  border-bottom: 1px solid #808080; }

button, .fa-ellipsis-v, .option a, .fa-close {
  cursor: pointer; }

.edit, .delete, .hidden {
  display: none; }

.readylane, .inprogresslane, .underreviewlane, .completedlane {
  overflow-y: auto;
  overflow-x: hidden; }

body {
  height: 100%;
  background: #ddd; }

button {
  float: left;
  width: 7%;
  padding: 6px;
  height: 40px;
  background: #273844;
  color: #fff;
  font-size: 17px;
  border-left: none;
  margin-right: 10px; }

  button:disabled {
    cursor: not-allowed;
    float: left;
    width: 7%;
    padding: 6px;
    height: 40px;
    background: #273844;
    color: #fff;
    font-size: 17px;
    border-left: none;
    margin-right: 10px; }

.fa-ellipsis-v {
  padding-right: 20px; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-left: 4px;
  margin-top: 74px;
  width: 284px;
  font-family: arial;
  margin-left: 5px;
  margin-right: 5px;
  background: #fff;
  margin-bottom: -52px; }

.card-body {
  flex: 1 1 auto;
  padding: 10px; }

.ready {
  background: #0288D1;
  width: 98%;
  border: 1px solid #0288D1; }

.readylane {
  width: 25%;
  height: 610px; }

.inprogress {
  background: #D32F2F;
  width: 95%;
  margin-left: 5px;
  border: 1px solid #D32F2F; }

.inprogresslane {
  width: 25%;
  height: 610px; }

.underreview {
  background: #dacc51;
  width: 95%;
  margin-left: 6px;
  border: 1px solid #dacc51;
  color: #000; }

.underreviewlane {
  width: 25%;
  height: 610px; }

.completed {
  background: #4CAF50;
  width: 96%;
  margin-left: 5px;
  border: 1px solid #4CAF50;
  color: #000; }

.completedlane {
  width: 25%;
  height: 610px; }

.top {
  height: 58px;
  margin-left: 1%; }

.modal-title {
  padding-left: 30px;
  line-height: 18px;
  color: white; }

.modal-content {
  position: relative;
  background-color: #009688;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  height: 421px; }

.modal-header {
  padding: 5px;
  background: #00796B; }

.modal-body {
  position: relative;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background: #009688; }

.modal-footer {
  padding-top: 7px;
  padding-right: 8px;
  text-align: right;
  background: #009688; }

.modal-dialog {
  position: relative;
  width: 50%;
  margin: 0 auto; }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.fade.in {
  opacity: 1; }

.modal {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.right {
  float: right; }

.center {
  padding-left: 50px;
  padding-bottom: 25px;
  margin-bottom: 20px; }

select {
  padding: 6px;
  font-size: 15px;
  height: 33px;
  float: left;
  width: 57%;
  margin-left: 40px;
  background: #f1f1f1;
  margin-right: 22px; }

.save {
  width: 65px !important;
  float: right !important;
  background: #00BCD4 !important;
  margin-right: 27px !important;
  border: 1px solid #00BCD4 !important;
  color: #000 !important; }

.input {
  padding: 6px;
  font-size: 15px;
  height: 14px;
  width: 55%;
  background: #f1f1f1;
  margin-right: 20px; }

.wrapper {
  display: flex;
  margin-left: 1%;
  margin-right: 1%; }
.hidden {
   display:none;
}
.show{
   display:block;
}
.progress-bar {
  float: left;
  max-width: 240px;
  margin-left: 15px;
  margin-right: 5px;
  height: 12%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px; }

p {
  display: inherit;
  word-wrap: break-word; }

.option a {
  text-align: right;
  float: right;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

.option a:hover {
  background-color: #ddd;
  color: #000; }

.displaystatus {
  float: left; }

.displaypercentage {
  display: inline-table;
  margin-bottom: 13px; }

.fa-ellipsis-v {
  margin-top: 12px; }

::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-track {
  background: #ddd; }

::-webkit-scrollbar-thumb {
  background: #808080; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

.fa-close {
  margin: 17px; }

.message {
  position: absolute;
  padding-left: 240px;
  color: #FF0000; }

.displayname {
  padding-top: 36px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px; }

.displaydescription {
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px; }

.classOption {
  display: block; }

@media only screen and (min-width: 320px) and (max-width: 719px) {
  .wrapper {
    display: block; }

  .ready {
    width: 100%; }

  .readylane {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 75px; }

  .inprogress {
    width: 100%; }

  .inprogresslane {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 75px; }

  .underreview {
    width: 100%; }

  .underreviewlane {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 75px; }

  .completed {
    width: 100%; }

  .completedlane {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 75px; }

  .card {
    margin-top: 56px;
    margin-right: auto;
    margin-left: auto;
    width: 100%; }

  button {
    width: 18%; }

  .center {
    padding-left: 0px; }

  .input {
    width: 42%;
    margin-right: 0px; }

  select {
    width: 46%;
    margin-right: 0px; }

  .save {
    margin-right: 5px; }

  .modal-dialog {
    width: 95%; } }
@media only screen and (min-width: 479px) and (max-width: 708px) {
  .modal-dialog {
    width: 70%; } }
@media only screen and (min-width: 720px) and (max-width: 1070px) {
  .ready {
    width: 100%; }

  .readylane {
    width: 100%;
    height: 450px; }

  .inprogress {
    width: 100%; }

  .inprogresslane {
    width: 100%;
    height: 450px; }

  .underreview {
    width: 100%; }

  .underreviewlane {
    width: 100%;
    height: 450px; }

  .completed {
    width: 100%; }

  .completedlane {
    width: 100%;
    height: 450px; }

  .card {
    margin-top: 56px;
    width: 100%; }

  button {
    width: 14%; }

  .center {
    padding-left: 0px; }

  label {
    padding-left: 0px; }

  .input {
    width: 42%;
    margin-right: 0px; }

  select {
    width: 46%;
    margin-right: 0px; }

  .save {
    margin-right: 5px; }

  .modal-dialog {
    width: 50%; }

  .progress-bar {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 150px; } }
@media only screen and (min-width: 1072px) {
  .card {
    width: 100%; } }
@media only screen and (min-width: 1440px) {
  .card {
    margin-left: 24px; } }
@media only screen and (min-width: 1324px) {
  .card {
    margin-right: 0px;
    width: 95%; } }

/*# sourceMappingURL=card.css.map */
